@charset "utf-8";
/*
 * App CSS
 * Author: Hyview
 * Date Created: 9/9/2015; Last Updated: 9/23/15
 */

// Border radius shorthand
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

$main_bgc:black;
$body_bgi:url("../images/bg_clouds.jpg");
$spacer:15px;

.center-block {
	margin-left:auto;
	margin-right: auto;
}

body {
 	font-family: Arial, Helvetica, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
	font-style: normal;
  background-image: $body_bgi;
	background-attachment: fixed;
}

.container {
	opacity: 0.9;
}

/* header */
header {
	background-color: none;
	
	.row {
		height: 100px;
		margin-right:0px; /* to remove -15px from Bootstrap */
		margin-left:0px;  /* to remove -15px from Bootstrap */
	}
	
	.site-logo {
		max-width:100%;
		height:inherit;
		padding-right:0px;
		padding-left:0px;
		text-align:center;
	
		img {
			max-width: 100%;
			height: auto; /* to keep same ratio */
			@include border-radius($spacer - 5px);
			background-color:#fff;
			position:absolute;
			top: 0; bottom:0; left: 0; right:0;
			margin: auto;
		}
	}

	.header-title {
		height: inherit;
		color:black;
		font-family:Lobster;

		.ht-content {
			position: absolute;
			/* center vertically */
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			/* center horizontally */
			left: 0; right:0;
			text-align:center;
			font-size:2.5em;
			font-weight:400;
		}
	}
}

/* main: gallery */
.gallery {
	width: inherit;
	background-color: $main_bgc;
	margin:0px auto $spacer;
	@include border-radius($spacer - 5px);
	padding: $spacer;
	overflow: hidden;

	.album-title {
		color: white;
		font-size: 1.5em;
		text-align: center;
	}

	ul li a {
		color: white;		
	}

	ul li	a:hover {
			color: #337ab7; /* #337ab7 */
	}
	
	.tab-content .tab-pane {
		min-height: 300px;
		padding: $spacer;
		color: white;
		
		.row {			
			.element {
				max-width:100%;
				margin: 10px 10px 20px;
			}
			
			img {
				display: block;
				@extend .center-block;
				border:solid;
				border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
				border-width: 1px 2px 2px 1px;
				background-color:white;
				padding:8px;	
				
				hover {
					border: 2px solid #bb6635;
				}
			}
		}
	}
}

/* footer */
footer {
	margin-bottom:$spacer;

	.copyright {
		max-width:460px;
		background:#fff;
		@include border-radius($spacer);
		@extend .center-block;
		padding-top:$spacer - 5px;
		padding-bottom:$spacer - 5px;
		text-align:center;
		font-size:85%;
	}
}

@media (max-width:480px) {
	.xs-hide { /* to hide the element in smart phone */
		display: none;
	}
}
